/*Whole Document*/
body{
	width:80%; 
	margin-left:10%; 
	margin-right:10%; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.centered{
	text-align:center;
}

.subtitle{
	font-style:italic;
	text-align:center;
	color:gray;
}
