/*Whole Document*/
body{
	width:70%; 
	margin-left:15%; 
	margin-right:15%; 
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
